<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
	<title>CA Legislature WO</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<wo:ERXStyleSheet filename="bills.css" />
</head>
<body>
<div class="AuthorPage" />

<p>
Person: <wo:str value="$author.person.name" escapeHTML="$false" /> - <wo:link href="$author.person.wpUrl"><wo:str value="$author.person.wpUrl" /></wo:link>
<ul>
  <wo:loop list="$author.person.contactGroups" item="$contactGroup">
    <li>
        <wo:str value="$contactGroup.name" />
    	<ul>
    	<wo:loop list="$contactGroup.contacts//VALID" item="$contact">
    	  <li><wo:str value="$contact.contactType" />&nbsp;-&nbsp;<wo:str value="$contact.contactInfo" /></li>
    	</wo:loop>
    	</ul>
    </li>
  </wo:loop>
</ul>
</p>

<p>
Bills Authored:
<ul>
<wo:loop list="$author.billVersionsAuthored.bill//VALID" item="$bill">
<li><wo:str value="$bill.measure" />&nbsp;-&nbsp;<wo:str value="$bill.topic" /></li>
</wo:loop>
</ul>
</p>

<p>
Bills Principal Coauthored:
<ul>
<wo:loop list="$author.billVersionsPrincipalCoauthored.bill//VALID" item="$bill">
<li><wo:str value="$bill.measure" />&nbsp;-&nbsp;<wo:str value="$bill.topic" /></li>
</wo:loop>
</ul>
</p>

<p>
Bills Coauthored:
<ul>
<wo:loop list="$author.billVersionsCoauthored.bill//VALID" item="$bill">
<li><wo:str value="$bill.measure" />&nbsp;-&nbsp;<wo:str value="$bill.topic" /></li>
</wo:loop>
</ul>
</p>

</body></html>