<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title>CA Legislature WO</title>
    <meta http-equiv = "Content-Type" content = "text/html;charset=UTF-8" />
    <style media = "screen" type = "text/css">
      td { text-align:center; padding:5px; }
      td.list { text-align:left; padding:5px; }
    </style>
    <wo:ERXStyleSheet filename = "Calendar.css" />
  </head>
  <body>
    <blockquote>
      <table border = "1">
        <tr>
          <td valign = "top">
            <wo:form>
              <table>
                <caption>
                  <h2>Search Bills:</h2>
                </caption>
                <tr>
                  <td align = "right">Bill&nbsp;Number:</td>
                  <td align = "left">
                    <span title = "(eg: 'ab 22' or 'sbx1 3' or '37')"><wo:textfield value = "$findableBillNum" /></span>
                  </td>
                </tr>
                <tr>
                  <td align = "right"><wo:ERXDataHyperlink pageName="CatalogPage" category="authors">Author</wo:ERXDataHyperlink>:</td>
                  <td align = "left"><wo:textfield value = "$findableAuthor" /></td>
                </tr>
                <tr>
                  <td align = "right">Topic:</td>
                  <td align = "left"><wo:textfield value = "$findableTopic" /></td>
                </tr>
                <tr>
                  <td align = "right">Last&nbsp;Action:</td>
                  <td align = "left"><span title = "(eg: 'Chaptered' or 'Do pass' or 'Hearing postponed')"><wo:textfield value = "$findableAction" /></span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <wo:radio selection = "$operator" value = "or" />&nbsp;Or&nbsp;&nbsp;<wo:radio selection = "$operator" value = "and" />&nbsp;And
                  </td>
                </tr>
                <tr>
                  <td><wo:submit action = "$find" value = "Find" /></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </wo:form>
          </td>
          <td valign = "top">
            <wo:AjaxUpdateContainer id = "selectedDay">
              <h3>CA Leg News &amp; Events</h3>
              <h4>Session <wo:str value = "$session.sessionYrs" /></h4>
              <wo:if condition = "$selectedDay">
                <table>
                  <tr>
                    <td>
                      <h4><wo:str value = "$selectedDay.dateString" /></h4>
                      <wo:if condition="$selectedIntroduced.count">
                      <wo:ERXDataHyperlink pageName="BillListPage" date="$selectedDay.dateString" bills="$selectedIntroduced" type="intro"><wo:str value = "$selectedIntroduced.count" /></wo:ERXDataHyperlink>&nbsp;Introduced&nbsp;Bills<br /></wo:if>
                      <wo:if condition="$selectedAmended.count">
                      <wo:ERXDataHyperlink pageName="BillListPage" date="$selectedDay.dateString" bills="$selectedAmended" type="amend"><wo:str value = "$selectedAmended.count" /></wo:ERXDataHyperlink>&nbsp;Amended&nbsp;Bills<br />
                      </wo:if>
                      <wo:if condition="$selectedLastActions.count">
                      <wo:ERXDataHyperlink pageName="BillListPage" date="$selectedDay.dateString" bills="$selectedLastActions" type="lastact"><wo:str value = "$selectedLastActions.count" /></wo:ERXDataHyperlink>&nbsp;Actions&nbsp;on&nbsp;Bills<br /></wo:if>
                      <wo:str value = "$selectedScheduledHearings.count" />&nbsp;Hearings&nbsp;Scheduled 
                    </td>
                  </tr>
                  <tr>
                    <td><hr /></td>
                  </tr>
                  <tr>
                    <td align = "left" class = "list">
                      <wo:if condition = "$selectedScheduledHearings.count">
                        <ul>
                          <wo:loop list = "$selectedScheduledHearingCommittees" item = "$selectedScheduledHearingCommittee">
                            <li>
                              <wo:str value = "$selectedScheduledHearingCommittee" />
                              <ul>
                                <wo:loop list = "$selectedScheduledHearingsForCommitteeBills" item = "$selectedScheduledHearingCommitteeBill">
                                  <li>
                                    <wo:str value = "$selectedScheduledHearingCommitteeBill.measure" />
                                    &nbsp;-&nbsp; 
                                    <wo:str value = "$selectedScheduledHearingCommitteeBill.topic" />
                                  </li>
                                </wo:loop>
                              </ul>
                            </li>
                          </wo:loop>
                        </ul>
                      </wo:if>
                    </td>
                  </tr>
                </table>
              </wo:if>
            </wo:AjaxUpdateContainer>
          </td>
          <td valign = "top">
            <table width = "100%">
              <tr>
                <td align = "left">
                  <wo:link action = "$previousMonth">&lt;&lt;&lt;&lt;</wo:link>
                </td>
                <td>
                  <h4><wo:str value = "$selectedMonth.previousMonth.shortMonthName" /></h4>
                </td>
                <td>
                  <h2>
                    <wo:str value = "$selectedMonth.shortMonthName" />&nbsp;<wo:str value = "$selectedMonth.year" />
                  </h2>
                </td>
                <td>
                  <h4><wo:str value = "$selectedMonth.nextMonth.shortMonthName" /></h4>
                </td>
                <td align = "right">
                  <wo:link action = "$nextMonth">&gt;&gt;&gt;&gt;</wo:link>
                </td>
              </tr>
            </table>
            <table id = "calendar">
              <wo:WORepetition list = "$selectedMonth.weekObjects" item = "$repetitionWeek">
                <tr class = "week">
                  <wo:WORepetition list = "$repetitionWeek.days" item = "$repetitionDay">
                    <wo:AjaxUpdateLink elementName = "td" class = "$dayClass" action = "$selectDay" updateContainerID = "selectedDay">
                      <wo:not condition = "$sameAsLastMonth"><wo:str value = "$repetitionDay.monthObject.shortMonthName" />&nbsp;/&nbsp;</wo:not>
                      <wo:str value = "$repetitionDay.day" />
                      <wo:if condition = "$recentlyIntroduced.count">
                        <br />Intr: 
                        <wo:str value = "$recentlyIntroduced.count" />
                      </wo:if>
                      <wo:if condition = "$recentlyAmended.count">
                        <br />Amnd: 
                        <wo:str value = "$recentlyAmended.count" />
                      </wo:if>
                      <wo:if condition = "$recentlyLastActions.count">
                        <br />LAct: 
                        <wo:str value = "$recentlyLastActions.count" />
                      </wo:if>
                      <wo:if condition = "$recentlyScheduledHearings.count">
                        <br />Hrng: 
                        <wo:str value = "$recentlyScheduledHearings.count" />
                      </wo:if>
                    </wo:AjaxUpdateLink>
                  </wo:WORepetition>
                </tr>
              </wo:WORepetition>
            </table>
          </td>
        </tr>
      </table>
    </blockquote>
    <wo:link pageName = "TestsPage">&pi;</wo:link>
  </body>
</html>