<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>CA Legislature WO</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <wo:ERXStyleSheet filename="bills.css" framework="$null" />
</head>
<body>
<div class="CatalogPage" />
<table border="1">
<tr>
    <th>Category</th>
    <th>Bills</th>
</tr>
<wo:loop list="$categoryObjs" item="$categoryObj">
<tr>
    <td valign="top"><wo:link action="$toCategoryObj"><wo:str value="$categoryObj" escapeHMTL="$false" /></wo:link></td>
    <td><wo:str value="$bills.count" /></td>
</tr>
</wo:loop>
</table>
</body></html>
