<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
	<title>CA Legislature WO</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<wo:ERXStyleSheet filename="bills.css" />
</head>
<body>

<wo:if condition="$isTypeIntro"><h3>Bills Introduced on: <wo:str value="$date" /></h3></wo:if>
<wo:if condition="$isTypeAmend"><h3>Bills Amended on: <wo:str value="$date" /></h3></wo:if>
<wo:if condition="$isTypeLastAct"><h3>Bills With Last Action on: <wo:str value="$date" /></h3></wo:if>

<wo:BillList bills="$bills" />

</body></html>