<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title>CA Legislature WO</title>
    <meta http-equiv = "Content-Type" content = "text/html;charset=UTF-8" />
    <wo:ERXStyleSheet filename = "bills.css" />
  </head>
  <body>
    <div class = "BillPage"></div>
    <h2><wo:str value = "$bill.measure" /></h2>
    <ul>
      <li>Topic: <wo:str value = "$bill.topic" /></li>
      <li>Last Action: <wo:str value = "$bill.lastHistAction" /></li>
      <li>Versions: 
        <ul>
          <wo:loop list = "$bill.versions" item = "$billVersion">
            <li>
              <wo:ERXDataHyperlink pageName = "BillVersionPage" version = "$billVersion"><wo:str value = "$billVersion.prettyName" /></wo:ERXDataHyperlink>
              <wo:BillVersionAuthors billVersion = "$billVersion" />
            </li>
          </wo:loop>
        </ul>
        <li>Bill Type(s): 
          <wo:loop list = "$bill.billTypes" item = "$billType"><wo:str value = "$billType.name" />&nbsp;&nbsp;</wo:loop>
        </li>
        <li>Code Section(s): 
          <wo:loop list = "$bill.lastVersion.codeSections" item = "$section"><wo:str value = "$section.name" />&nbsp;&nbsp;</wo:loop>
        </li>
        <li>History: 
          <ul>
            <wo:loop list = "$bill.billActions" item = "$billAction">
              <li>
                <wo:str value = "$billAction.whenAct" />&nbsp;-&nbsp;<wo:str value = "$billAction.action" />
              </li>
            </wo:loop>
          </ul>
        </li>
        <li>ThisBillWoulds: 
          <ul>
            <wo:loop list = "$bill.lastVersion.woulds" item = "$would">
              <li><wo:str value = "$would.sentence" escapeHTML = "$false" /></li>
            </wo:loop>
          </ul>
        </li>
        <li>Votes:
        <ul>
            <wo:loop list="$bill.votes//VALID" item="$vote">
            <li><wo:str value="$vote.motion//VALID" /> - <wo:str value="$vote.voteDate//VALID" /></li>
               </wo:loop>
        </ul>
        </li>
      </li>
    </ul>
  </body>
</html>
