{
    attributes = (
        {
            columnName = note; 
            externalType = varchar; 
            name = note; 
            valueClassName = NSString; 
            width = 10240; 
        }, 
        {columnName = pk; externalType = int; name = pk; valueClassName = NSNumber; }, 
        {
            columnName = "src_entity"; 
            externalType = enum; 
            name = srcEntity; 
            valueClassName = NSString; 
        }, 
        {
            columnName = "src_pk"; 
            externalType = INT; 
            name = srcPk; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "note_when"; 
            externalType = datetime; 
            name = when; 
            valueClassName = "java.util.Date"; 
            valueType = D; 
        }
    ); 
    attributesUsedForLocking = (pk); 
    className = "org.ganymede.leginfo.eo.Annotation"; 
    classProperties = (note, srcEntity, srcPk, when); 
    externalName = annotations; 
    fetchSpecificationDictionary = {}; 
    name = Annotation; 
    primaryKeyAttributes = (pk); 
}
