{
    attributes = (
        {
            columnName = name; 
            externalType = varchar; 
            name = name; 
            valueClassName = NSString; 
            width = 10240; 
        }, 
        {
            columnName = pk; 
            externalType = INT; 
            name = pk; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (pk); 
    className = "org.ganymede.leginfo.eo.Author"; 
    classProperties = (authorings, name); 
    externalName = authors; 
    fetchSpecificationDictionary = {}; 
    name = Author; 
    primaryKeyAttributes = (pk); 
    relationships = (
        {
            destination = BillAuthoring; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = auithorPk; sourceAttribute = pk; }); 
            name = authorings; 
        }
    ); 
}
