{
    attributes = (
        {
            columnName = name; 
            externalType = varchar; 
            name = name; 
            valueClassName = NSString; 
            width = 50; 
        }, 
        {
            columnName = pk; 
            externalType = INT; 
            name = pk; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (pk); 
    className = "org.ganymede.leginfo.eo.CodeSection"; 
    classProperties = (billVersions, name); 
    externalName = "code_sections"; 
    fetchSpecificationDictionary = {}; 
    name = CodeSection; 
    primaryKeyAttributes = (pk); 
    relationships = (
        {definition = "codeSectionJoins.billVersion"; name = billVersions; }, 
        {
            destination = CodeSectionJoin; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sectionPk; sourceAttribute = pk; }); 
            name = codeSectionJoins; 
        }
    ); 
}
