{
    attributes = (
        {
            columnName = "bill_version_pk"; 
            externalType = INT; 
            name = billVersionPk; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "section_pk"; 
            externalType = INT; 
            name = sectionPk; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (billVersionPk, sectionPk); 
    className = "er.extensions.eof.ERXGenericRecord"; 
    classProperties = (billVersion, codeSection); 
    externalName = "code_section_joins"; 
    fetchSpecificationDictionary = {}; 
    name = CodeSectionJoin; 
    primaryKeyAttributes = (billVersionPk, sectionPk); 
    relationships = (
        {
            destination = BillVersion; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = pk; sourceAttribute = billVersionPk; }); 
            name = billVersion; 
        }, 
        {
            destination = CodeSection; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = pk; sourceAttribute = sectionPk; }); 
            name = codeSection; 
        }
    ); 
}
